h1
{color: blue;
background-color: white;
border: 10px dashed black;
padding:10px;
width: 750px;}

h3 { 
  font-family: sans-serif;
  color: white;
  text-shadow: 
    1px 1px 8px black, 
    .5em -.5em 0 gold, 
    1em .4em 0 orange, 
    1.5em .4em 10vw orange, 
    0 0 10vw gold;
  font-size: 2vw;
  }

body
{
background-image: url("https://i.pinimg.com/originals/66/9d/37/669d37c29edeaaf08b2ab50b18710141.jpg");
background-repeat: no-repeat;
    background-attachment: fixed;
    
padding: 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
table
{ width: 750px; font-family: sans-serif;
border: 1px solid black; 
background-color: white;
text-align: center;
border-collapse:collapse;
}
table td + td { border-left:2px solid black; }

caption { 
    display: table-caption;
    text-align: left;
    font-weight: bold;
    background-color: yellow;
    border: 5px solid black;
}